{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}App de Enquetes{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">

</head>
<body>
    <div class='container'>
        <header>
            <div class='row'>
                <div class='col'>
                    <h1>Cabeçalho</h1>
                    <ul>
                        {% if user.is_authenticated %}
                        <li> {{ user.username }} / <a href="{% url 'logout' %}"> Sair</li>
                        {% else %}
                        <li> <a href="{% url 'signup' %}"> Cadastrar</li>
                        <li> <a href="{% url 'login' %}"> Acessar</li>
                        {% endif%}
                        </ul>
                    </div>
                </div>

                <div class='row'>
                    <img src="{% static 'polls/img/sozin e solitudo.png' %}">
                </div>

        </header>
    <main>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}

        {% block content%}{% endblock content %}
    </main>

    <footer>
        <h1>Rodapé</h1>
    </footer>
</body>
</html>